#PYTHON - DATA STRUCTURE

1.What are data structures, and why are they important?
 - data structures are the ways to store and organize data in the computer so that it can be efficiently accessed and modified. And they are important for simplified code, improvement of performance, data management, problem solving.

2.  Explain the difference between mutable and immutable data types with examples.
 - Mutable data types can be changed after creation, eg- lists, sets, dictionaries.
 - and immutable data cannot be changed once they are created, eg- tuples, strings.

3. What are the main differences between lists and tuples in Python?
 - The main difference is that the Lists are mutable because they can be modified or can be change after creation but tuples are immutable because they cannot modified after creation.

4. Describe how dictionaries store data.
 - A dictionaries are also known as hash tables or associative arrays that store data in a key-value pair format.

5. Why might you use a set instead of a list in Python?
 - we user set instead of list in python because sets has faster lookup, efficient removal, improve code readability and reducing memory usage, unintended modifications.

6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters enclosed between the single or double quotes. And a list is a sequence of items, where the items can be anything, may be an integer, a float, a string, etc.

7. How do tuples ensure data integrity in Python?
 - Tuple are immutable, once it is created cannot be altered. This makes them suitable for providing dada integrity in python.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table is a data structure that stores key-value pairs in an array using a hash function to map keys to indices of the array.

9. Can lists contain different data types in Python?
 - yes, lists in python can contain different data types.

10.  Explain why strings are immutable in Python.
 - Strings are immutable in python means that they cannot be changed after creation which provides a more predictable, efficient, and safe programming environment.

11. What advantages do dictionaries offer over lists for certain tasks?
 - The advantages are faster lookup, unique keys, efficient data retrieval, improved code readability, data analysis, etc that offers over lists for certain task.

12. Describe a scenario where using a tuple would be preferable over a list.
 - Scenario: Enhancing data integrity
   -> Tuples can help ensure data integrity by preventing accidental modifications to the data.

13. How do sets handle duplicate values in Python?
 - sets automatically handle duplicate values by eliminating them. This means that if we add a duplicate value to a set, it will simply ignored.
  eg- my_sets = [a,b,c,c,d,e,f,f]
       print(my_set) # output: [a,b,c,d,f]

14. How does the “in” keyword work differently for lists and dictionaries?
 - for lists, the "in" keyword checks for membership in the list by iterating over each element and for dictionaries, the "in" keyword checks by looking up the key in the dictionary hash table.
  
15. Can you modify the elements of a tuple? Explain why or why not?
 - No, we cannot modify the elements of a tuple because tuples are immutable data structures in python, once it created it cannot be modified.

16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary that contains another dictionary as its value. eg- weather data:
  weather_data = {"temp":23, "humidity":60, "wind_speed":20}

17.  Describe the time complexity of accessing elements in a dictionary.
 - Accessing an element in a dictionary by its key is a very fast operation that takes the same amount of time regardless of the number of elements in the dictionary.

18. In what situations are lists preferred over dictionaries?
 - Here are some situations they are -
  ordered data, homogeneous data, dynamic size, performance, simplicity general programming.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because the order in which the order in which key-value pairs are stored and retrieved is not guaranteed. this is because dictionaries use a hash table to store their data, which allows for fast lookups but does not preserve the order of insertion.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - list ->
  a. indexed retrieval
  b. sequential acces
  c. fast lookup by index.
 - dictionary ->
  a. key-based retrieva
  b. random access
  c. fast lookup by key

#PRACICAL QUESTIONS

1. Write a code to create a string with your name and print it.

In [ ]:
name = "ankit verma"
print (f"hello, my name is {name}")

hello, my name is ankit verma

2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "hello world"
length = len(string)
print("the length of the string is", length)

the length of the string is 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "i like apple"
replaced_string = string.replace("apple", "orange")
print(replaced_string)

i like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list = [['a', 'b', 'c', 'd']]
second_element = list[0] [1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [ ]:
elements = {1, 2, 3, 4, 5}
print(elements)

{1, 2, 3, 4, 5}

17.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
numbers = (1, 2, 3, 2, 4, 2)
count = numbers.count(2)
print(count)

3

21.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
if 'banana' in my_tuple:
    print("banana is in the tuple")
else:
    print("banana is not in the tuple")

banana is in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
elements = {1, 2, 3, 4, 5}
print(elements)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}